.rightconfiguration {
width: 60%;
padding: 25px 219px 25px 101px;
}

.cameradiv {
border-radius: 100%;
height: 140px;
width: 140px;
border: 1px solid #CBCBCB;
justify-content: center;
display: flex;
align-items: center;
margin: 12px 38px;
}

.leftinput {
width: 350px;
height: 55px;
border: 1px solid #DBDBDB;
border-radius: 10px;
margin: 15px 0;
padding: 0px 31px;
font-size: 15px;
}

.selectinput{
width: 350px;
height: 55px;
border: 1px solid #DBDBDB;
border-radius: 10px;
margin: 31px 88px;

background-color: white;
padding: 0 31px;
}


.inputfullwidth {
width: 790px;
height: 55px;
border: 1px solid #DBDBDB;
border-radius: 10px;
margin: 31px 0;
padding: 0px 31px;
font-size: 15px;
}

.rightinput{
width: 350px;
height: 55px;
border: 1px solid #DBDBDB;
border-radius: 10px;
margin: 31px 88px;

background-color: white;
padding: 0 31px;
}

.cameradivchild {
border-radius: 100%;
height: 140px;
width: 140px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.editbutton {
width: 125.54px;
height: 48px;
left: 1095px;
top: 205px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
background: #47A296;
display: flex;
align-items: center;
}
.editbutton button {
background-color: #47A296;
border: none;
display: flex;
align-items: center;
color: white;
width: 100%;
justify-content: space-around;
padding: 0px 20px;  
font-size: 16px;
font-weight: 700;
}
.top {
display: flex;
justify-content: space-between;
width: 69.5%;
align-items: center;
}

.main {
width: 68%;
}

/* new css of rightconfiguration page */
.parent {
margin: 50px 219px 73px 101px;
}


.firstRow {
display: flex;
justify-content: space-between;
margin-right: 197px;
}

.profileimagediv {
width: 131px;
height: 131px;

border: 1px solid #CBCBCB;
border-radius: 500px;
position: relative;
}

.content {
margin: 46px 0;
}

.oneline{
display:flex;
align-self: center;
}

.heading {
display: flex;
padding: 18.51px 22.3px;
align-items: center;
font-size: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #5E5E5E;
background: rgba(71, 162, 150, .5);
border-radius: 10px 0px 0px 0px;
margin-bottom: 2px;
width: 386.51px;

}

.fetchdata {
width: 500px;
padding-left: 100px;
align-items: center;
display: flex;
width: 386.51px;
align-items: center;
font-size: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #5E5E5E;
border-radius: 10px 0px 0px 0px;
margin-bottom: 2px;
width: 386.51px;

}

.margin_left{
margin-left: 72px;
}

.image {
border-radius: 500px;
width: 100%;
height: 100%;
}

.labelphoto {
width:24px;
height:24px;
background-color:#47A296;
position: relative;
border-radius: 100%;
display: flex;
align-items: center;
justify-content:center}

.inputfilediv{
border-radius: 100%;
height: 40px;
width: 40px;
border: 1px solid #CBCBCB;
justify-content: center;
display: flex;
align-items: center;
background-color: #47A296;
position: absolute;
bottom: 8px;
right: 40px;
}

.cameraparentdiv{
position: relative;
}