.thanks{
  background-color: #F6F8FA;
  flex-direction: column;
}

/* .thanks_img{
  /* margin: 40px 0 !important; */
/* } */ 

.thanks_content {
  width: 40%;
font-size: 24px;
font-weight: 600;
margin: auto;
  font-style: normal;
  line-height: 52px;
  text-align: center;
  color: #525252;
}

.imagerounddiv {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 40px auto !important;
}

.partners_div {
  display: flex;
  justify-content: space-evenly;
  color: #47A296;
  margin: 70px 0; 

}