.whyworkharddiv{
  height: 736px;
  background-color: #F6F8FA;
  padding: 30px 0px;
  }
  
  .image_div{
  position: relative;
  height: 75%;
  width: 100%;
  }


  .below_image_div {
  padding: 30px;
  background-color: #E2E2E3;
  text-align: center;
}

.below_image_div h2 {
  padding: 3px 0 10px 0;
  color: #707070;
  text-align: center;
  font-size: 28px;
}

.below_image_div p 
{
  width: 34.5%;
  margin: auto;
}