.setpassword {
    margin: 127px auto;
        border: 1px solid #47a296;
        padding: 35.6px 50.4px;
        width: 32%;
        text-align: center;
        border-radius: 13px;
        position: relative;
        height: 420px;
        width: 450px;
}

.setpassword h1 {

    width: 320.4px;
    height: 20.4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #47A296;
    margin: auto;
}

.setpassword hr {
    color: #47a296;
margin: 18px auto 20px;
background-color: #47a296;

border: none; 
width: 164.4px;
height: 0px;


border: 1.2px solid #47A296;
}

.pass1{
    margin: 17.2px auto 19.4px;
}

.smallpara {
    font-size: 7.1px !important;
    margin: 21.4px 0 0 42px !important;
    width: 227px;
    text-align: left;
    color: #2E2E2E;
    height: 37px;

}


    .p1{
        width: 227px;
        height: 52px;
        left: 83px;
        top: 94px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #7B7B7B;
        text-align: left;
        margin-left: 49px;
    }


