<<<<<<< HEAD
=======

>>>>>>> c9bcff4089d987e4c921d7146b773fc0f5e29d32
.buttonAddemployee{
    width: 296px;
    height: 53px;
    background: #47A296;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: space-around;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19px 0 0;
}

.edit, .edittd {
    width: 5%;
}

.delete,.deletetd {
    width: 5%;
}

.sametd{
    width: 14%;
    padding: 15px 0;
    font-weight: 400;
    color: #2E2E2E;
    text-align: left;
}

.formdiv {
    text-align: center;
}

.salary,.salarytd {
    width: 15%;
}

.snotd,.nametd,.codetd,.designationtd,.salarytd,.edittd {
    padding: 14px 0;
}

.designation, .designationtd {
    width: 18%;
    text-align: left;
}

.sno,.snotd {
    width: 9%;
    text-align: left;
}

.name, .nametd{
    width:17%;
    text-align: left;
}


.code,.codetd {
    width:11%;
    text-align: left;
}

.table2parentdiv {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.table2childdiv {
    width: 100%;
    height: 490px;
    overflow: auto;

}

.table2child2div, .table2parentdiv {
    width: 100%;
    height: 480px;
}
.table2parentdiv {
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
}
.table2childdiv {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.table2childdiv::-webkit-scrollbar {
    display: none;
}