.buttonAddemployee{
    width: 296px;
    height: 53px;

    background: #47A296;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

justify-content: space-around;
}



.firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19px 0 0;
}

.code {
    width : 10%;
}

.designation{
    width : 15%;
}

.salary {
    width: 10%;
}

.edit {
    width:10%;
    text-align: center;
}

.delete {
    width: 10%;
    text-align: center;
}

.sametd{
    width: 14%;
    padding: 15px 0;
    font-weight: 400;
    color: #2E2E2E;
    text-align: center;
}

.formdiv {
    text-align: center;
}

.sno,.name, .code, .designation, .salary, .edit, .delete{
    width: 14%;
    text-align: center;
}