.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 420px;
    /* height: 388px; */
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid rgba(71, 162, 150, 0.43);
    border-radius: 10px;
    margin: 113px auto;

}

.heading {
    width: 320.4px;
height: 20.4px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* or 86% */

display: flex;
align-items: center;
justify-content: center;

color: #47A296;
margin: 35.6px auto 18px;
}

.hruler {
    width: 164.4px;
height: 0px;
margin: auto;

border: 1px solid #47A296;
}

.para1 {
    width: 239px;
height: 52px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
margin: 25px auto 11px;
color: #7B7B7B;
}

.para2 {
    width: 239px;
height: 52px;
left: 83px;
top: 162px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
margin: 11px auto 0;
/* or 200% */


color: #7B7B7B;
}

.signinbutton {
    width: 308px;
height: 50px;
left: 56px;
top: 290px;

background: #47A296;
border: 1px solid rgba(0, 0, 0, 0.16);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
border-radius: 5px;
margin: 31.8px auto 48px;


}

.signinbuttondiv{
    text-align: center;
}